<!DOCTYPE html>
<html>
<head>
  <title>Birdses</title>
  <%= stylesheet_link_tag    "birdses/application", :media => "all" %>
  <%= javascript_include_tag "birdses/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
