/*
 *= require gollum_editor/gollum
 */

#editor {
  position: absolute;
  margin-top: 25px;
  width: 80%;
  height: 80%;
}

#preview {
  margin-top: 25px;
  display: none;
}

#birdses_pages_nav ul {
  margin-left: 0;
  margin-right: 50px;
  margin-bottom: 20px;
  list-style: none;
  float: right;
}

#birdses_pages_nav li {
  display: inline;
}
